.bill-h2 {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}
.bill-input, .number-input, .custom-input {
    font-family: 'Space Mono', monospace;
    background-color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 0.2rem;
    padding: 0.4rem;
    width: 95%;
    text-align: right;
    outline: none;
    color: hsl(183, 100%, 15%);
    font-size: 1.1rem;
}
.bill-input::placeholder, .number-input::placeholder {
    color: hsla(184, 14%, 56%, 0.8);
}
.bill-div {
    position: relative;
}
.bill-div img {
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
}

.tip-h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.btn {
    font-family: 'Space Mono', monospace;
    background-color: hsl(183, 100%, 15%);
    font-size: 1.1rem;
    color: hsl(0, 0%, 100%);
    padding: 0.6rem;
    text-align: center;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover {
    background-color: hsla(172, 67%, 45%, 0.5);
    color: hsl(183, 100%, 15%);
}
.custom-input {
    width: 90%;
    padding: 0.6rem 1rem 0.6rem 0;
    font-size: 1.1rem;
}
.custom-input::placeholder {color: hsl(186, 14%, 43%);}

.number-h2 {
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}
.number-input-div {position: relative;}
.number-input-div img {
    position: absolute;
    top: 0.7rem;
    left: 0.7rem;
}